<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume page</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <table>
      <tbody>
        <tr>
          <td valign="top">
            <%- include('profile.ejs') %> <%-include('employment.ejs') %> <%-
            include('education.ejs') %>
          </td>
          <td valign="top" style="min-width: 100px; padding-left: 10px">
            <h3 style="margin-bottom: 6px; font-size: small">Details</h3>
            <%- include('contact.ejs') %> <%- include('links.ejs') %> <%-
            include('skills.ejs') %>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
